.parent{
    height: 600px;
    width: 480px;
    background: black;
    position: absolute;
    left: 83%;
    top: 56.2%;
    transform: translate(-50%, -50%);
}

.recentHeading{
    font-family: monospace;
    color: #82808E;
    min-width: 30%;
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    left: 50%;
    top: 4%;
    transform: translate(-50%, -50%);
}
.password1{
    height: 70px;
    width: 450px;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    background: #2f2e37;
}

.password2{
    height: 70px;
    width: 450px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background: #2f2e37;
}

.password3{
    height: 70px;
    width: 450px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    background: #2f2e37;
}

.password1 h1{
    font-family: monospace;
    color: #82808E;
    font-weight: 100;
    position: absolute;
    top: 29%;
    left: 6%;
    outline: none;
}
.password2 h1{
    font-family: monospace;
    color: #82808E;
    font-weight: 100;
    position: absolute;
    top: 29%;
    left: 6%;
    outline: none;
}
.password3 h1{
    font-family: monospace;
    color: #82808E;
    font-weight: 100;
    position: absolute;
    top: 29%;
    left: 6%;
    outline: none;
}
.copy{
    position: absolute;
    top: 28%;
    left: 87%;
    transition: translate(-50%, -50%);
    background: #2f2e37;
    outline: none;
}